.MenuSegments {
    display: block;
    padding-top: 1rem;

    .buttons {
        display: flex;
        padding-inline: 1rem;
        justify-content: space-around;
        gap: 2px;

        button {
            flex: 1;
            border-radius: 0;
            cursor: pointer;
            outline: none;
            border: none;
            padding: 0.25rem 1rem;
            background: #565656;
            box-shadow:  20px 20px 60px #202020,
                        -20px -20px 60px #2c2c2c;

             &.active, &:hover {
                background: #363636;
                box-shadow: inset 20px 20px 60px #202020,
                            inset -20px -20px 60px #2c2c2c;
             }
        }
    }
}