.Slider {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.25rem;
    min-width: 300px;

    input {
        flex: 1;
        margin-top: 0.25rem;
    }

    .range {
        display: flex;
        justify-content: space-between;
        .min, .max {
            font-size: small;
            color: #aaa;
        }
    }
}