.Maps {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100%;

    canvas, .skeleton {
      border-radius: --border-radius;
      min-height: 128px;
      height: 100%;
      aspect-ratio: 1 / 1;
      max-height: 512px;
    }
  }
}
