.Maps {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  gap: 0.5rem;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100%;

    canvas,
    .skeleton {
      border-radius: --border-radius;
      min-height: 128px;
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      max-height: 512px;
    }
  }
}
