* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: hsla(246, 100%, 8%, 1);

  background: linear-gradient(
    225deg,
    hsla(246, 100%, 5%, 1) 0%,
    hsla(234, 100%, 5%, 1) 50%,
    hsla(289, 100%, 5%, 1) 100%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(246, 100%, 5%, 1) 0%,
    hsla(234, 100%, 5%, 1) 50%,
    hsla(289, 100%, 5%, 1) 100%
  );

  background: -webkit-linear-gradient(
    225deg,
    hsla(246, 100%, 5%, 1) 0%,
    hsla(234, 100%, 5%, 1) 50%,
    hsla(289, 100%, 5%, 1) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
