.toggle {
  top: 1rem;
  right: 1rem;
  position: fixed;
}

.Menu {
  background: #1d1e21;
  height: 100vh !important;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding-top: calc(1rem + 24px);

  canvas {
    width: calc(300px - 2rem) !important;
    height: calc(300px - 2rem) !important;
    overflow: hidden;
    margin-inline: auto;
    display: block;
  }
}
